<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">Username</th>
                <th style="width: 45%;">Active roles</th>
                <th style="width: 25%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td>
                    <button (click)="openRolesModal(user)" class="btn btn-info me-1">Edit Roles</button>
                    <button (click)="deleteUser(user.username)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
