<h3>Admin Panel</h3>

<div class="tab-panel mt-5">
    <tabset class="member-tabset">
        <tab heading="Διαχείριση χρήστη" *appHasRole="['Admin']">
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab heading="Διαχείριση φωτογραφιών" *appHasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-photo-management></app-photo-management>
            </div>
        </tab>
    </tabset>
</div>
