<div class="text-center mt-3">
    <h4>Μηνύματα</h4>
</div>

<div class="mb-4 mt-5 d-flex">
    <div class="btn-group" name="container">
        <!-- this is the default selected button -->
        <button 
            class="btn btn-primary"
            btnRadio="Unread"
            [(ngModel)]="container"
            (click)="loadMessages()"
        >
            <i class="fa fa-envelope"></i> Μη διαβασμένα
        </button>
        <button 
            class="btn btn-primary"
            btnRadio="Inbox"
            [(ngModel)]="container"
            (click)="loadMessages()"
        >
            <i class="fa fa-envelope-open"></i> Εισερχόμενα
        </button>
        <button 
            class="btn btn-primary"
            btnRadio="Outbox"
            [(ngModel)]="container"
            (click)="loadMessages()"
        >
            <i class="fa fa-paper-plane"></i> Εξερχόμενα
        </button>
    </div>
</div>

<div class="row text-center mt-5" *ngIf="!messages || messages.length === 0">
    <h5>Δεν υπάρχουν μηνύματα</h5>
</div>

<div class="row" *ngIf="messages && messages.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
        <thead>
            <tr>
                <th style="width: 40%">Μήνυμα</th>
                <th *ngIf="container !== 'Outbox'" style="width: 20%">Αποστολές</th>
                <th *ngIf="container === 'Outbox'" style="width: 20%">Προς</th>
                <th *ngIf="container !== 'Outbox'" style="width: 20%">Από</th>
                <th *ngIf="container === 'Outbox'" style="width: 20%">Στάλθηκε</th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <!-- we add queryParams and we're passing an object using single curly brackets
                and not using interpolation  -->
            <tr [hidden]="loading" *ngFor="let message of messages"
                routerLink="{{container === 'Outbox' 
                    ? '/members/' + message.recipientUsername
                    : '/members/' + message.senderUsername}}"
                [queryParams]="{tab: 'Messages'}"
            >
                <td>{{message.content}}</td>
                <td>
                    <div *ngIf="container === 'Outbox'">
                        <img 
                            class="img-circle rounded-circle me-2"
                            src="{{message.recipientPhotoUrl || './assets/user.png'}}" 
                            alt="recipient photo">
                        <strong>{{message.recipientUsername | titlecase}}</strong>
                    </div>
                    <div *ngIf="container !== 'Outbox'">
                        <img 
                            class="img-circle rounded-circle me-2"
                            src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                            alt="sender photo">
                        <strong>{{message.senderUsername | titlecase}}</strong>
                    </div>
                </td>
                <td>{{message.messageSent | timeAgo}}</td>
                <!-- stopPropagation means that the routerLink for the row will not be working, 
                if the button is clicked -->
                <td><button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-danger">Διαγραφή</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="!loading && pagination && messages && messages.length > 0">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
