<div class="row" *ngIf="member">
  <div class="col-4">
    <h3>Το προφίλ σας</h3>
  </div>

  <div class="col-8">
    <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
      <p>Έχουν γίνει αλλαγές. Κάντε αποθήκευση αλλιώς οι αλλαγές θα χαθούν</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <img
          src="{{ member.photoUrl || './assets/user.png' }}"
          alt="{{ member.knownAs }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Τοποθεσία:</strong>
            <p>{{ member.city }}, {{ member.country }}</p>
          </div>
          <div>
            <strong>Ηλικία:</strong>
            <p>{{ member.age }}</p>
          </div>
          <div>
            <strong>Τελευταία ενεργός:</strong>
            <!-- for Last Active we use ngx-pipes package -->
            <p>{{ lastActiveDate | timeAgo }}</p>
          </div>
          <div>
            <strong>Μέλος από:</strong>
            <p>{{ member.created | date : "dd MMM yyyy" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            [disabled]="!editForm.dirty"
            form="editForm"
            class="btn btn-success col-12"
          >
            Αποθήκευση
          </button>
        </div>
      </div>
    </div>

    <div class="col-8">
      <tabset class="member-tabset">
        <tab heading="Σχετικά με {{ member.knownAs }}">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <h5 class="mt-2">Περιγραφή</h5>
            <textarea
              class="form-control"
              [(ngModel)]="member.introduction"
              name="introduction"
              rows="6"
            >
            </textarea>
            <h5 class="mt-2">Ψάχνω για</h5>
            <textarea
              class="form-control"
              [(ngModel)]="member.lookingFor"
              name="lookingFor"
              rows="6"
            >
            </textarea>
            <h5 class="mt-2">Ενδιαφέροντα</h5>
            <textarea
              class="form-control"
              [(ngModel)]="member.interests"
              name="interests"
              rows="6"
            >
            </textarea>
            <h5 class="mt-2">Τοποθεσία:</h5>
            <div class="d-flex flex-row align-items-center">
              <label for="city">Πόλη: </label>
              <input
                type="text"
                [(ngModel)]="member.city"
                name="city"
                class="form-control mx-2"
              />
              <label for="country">Χώρα: </label>
              <input
                type="text"
                [(ngModel)]="member.country"
                name="country"
                class="form-control mx-2"
              />
            </div>
          </form>
        </tab>
        <tab heading="Επεξεργασία φωτογραφιών">
          <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
      </tabset>
    </div>
  </div>
</div>
