<footer
  class="bg-primary text-white text-center d-flex flex-wrap align-items-center p-1 justify-content-center"
  style="background-color: rgba(0, 0, 0, 0.3)">
  <div class="order-1 order-md-1 m-3">
    <img
      style="height: 40px; width: auto"
      class="border-0"
      src="./assets/logo4.png"
      alt="logo"
    />
    <a
      class="text-white navbar-brand ms-1"
      routerLink="/"
      routerLinkActive="active"
      >Matcher
    </a>
  </div>

  <div class="d-flex flex-row order-3 order-md-2 m-3">
    <span class="ms-5">© 2022-23</span>
    <span class="ms-2">Giorgos Giourmetakis</span>
  </div>

  <div class="d-flex order-2 order-md-3 m-3">
      <a href="" class="ms-5 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="ms-3 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="ms-3 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
  </div>
</footer>
