<footer class="bg-primary text-center">
  <div
    class="text-center text-white p-3 mt-5"
    style="background-color: rgba(0, 0, 0, 0.3)"
  >
    <img
      style="height: 45px; width: auto"
      class="border-0"
      src="./assets/logo3.png"
      alt="logo"
    />
    <a
      class="text-white navbar-brand ms-1"
      routerLink="/"
      routerLinkActive="active"
      >Matcher
    </a>
    <span class="ms-3">© 2022-23</span>
    <span class="ms-3">Giorgos Giourmetakis</span>
  </div>
</footer>
