<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <img class="border-0" src="./assets/logo3.png" alt="user photo" />
    <a class="navbar-brand ms-2" routerLink="/" routerLinkActive="active"
      >Matcher</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" 
            routerLink="/" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Αρχική</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/members"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Αναζήτηση
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Likes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Μηνύματα</a
          >
        </li>
        <!-- here we're using our custom directive to display or not the link -->
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
        <!-- here we're using our custom directive to display or not the link -->
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active"
            >Errors</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img
        class="rounded-circle"
        src="{{ user.photoUrl || './assets/user.png' }}"
        alt="user photo"
      />
      <a
        class="dropdown-toggle text-light text-decoration-none ms-2"
        dropdownToggle
      >
        Καλωσήρθες {{ user.knownAs }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit"
          >Επεξεργασία προφίλ</a
        >
        <a class="dropdown-item" (click)="logout()">Αποσύνδεση</a>
      </div>
    </div>

    <!-- this is a template form -->
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Όνομα χρήστη"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Κωδικός"
      />
      <button class="btn btn-success" type="submit">Σύνδεση</button>
    </form>
  </div>
</nav>
