<div class="text-center mt-3">
    <!-- <h4>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h4> -->
    <h4>Likes</h4>
</div>

<div class="container mt-5">
    <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button
              type="button"
              class="btn btn-primary"
              [(ngModel)]="predicate"
              btnRadio="liked"
              (click)="loadLikes()"
            >
              Μέλη που με ενδιαφέρουν
            </button>
            <button
              type="button"
              class="btn btn-primary"
              [(ngModel)]="predicate"
              btnRadio="likedBy"
              (click)="loadLikes()"
            >
            Μέλη που εδιαφέρονται για μένα
            </button>
          </div>
    </div>

    <div style="height: 300px;" class="row text-center mt-5" *ngIf="!members || members.length === 0">
      <h5>Δεν υπάρχουν Likes</h5>
    </div>

    <div class="row mt-5">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="pagination && members && members.length > 0">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
