<div class="row mb-3 mt-3" *ngIf="member">
  <div
    class="col-6 col-md-12 col-lg-6 col-xl-4 mb-2 img-wrapper"
    *ngFor="let photo of member.photos"
  >
    <div class="col-12">
      <img
        src="{{ photo.url }}"
        alt="photo of user"
        class="w-100 mb-1"
        [class.not-approved]="!photo.isApproved"
      />
      <div class="text-center img-text" *ngIf="!photo.isApproved">
        <small class="text-danger">Αναμονή για έγκριση</small>
      </div>
      <div class="text-center">
        <button
          class="btn btn-sm me-1"
          [disabled]="photo.isMain || !photo.isApproved"
          (click)="setMainPhoto(photo)"
          [ngClass]="
            photo.isMain ? 'btn-success active' : 'btn-outline-success'
          "
        >
          Εικόνα προφίλ
        </button>
        <button
          class="btn btn-sm btn-danger"
          [disabled]="photo.isMain"
          (click)="deletePhoto(photo.id)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h5>Πρόσθεσε φωτογραφίες</h5>

    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
    >
      <i class="fa fa-upload fa-3x"></i>
      Drop photos here
    </div>

    Πολλά αρχεία:
    <input
      type="file"
      ng2FileSelect
      [uploader]="uploader"
      multiple
    /><br /><br />
    Ένα αρχείο:
    <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div
    class="col-12 mt-5 mb-2"
    *ngIf="uploader?.queue?.length"
  >
    <h5>Μεταφόρτωση αρχείων</h5>
    <p>Μήκος ουράς: {{ uploader?.queue?.length }}</p>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Όνομα αρχείου</th>
          <th>Μέγεθος</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader?.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader?.options?.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Πρόοδος ουράς:
        <div class="progress mb-3 mt-1">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: uploader?.progress + '%' }"
          ></div>
        </div>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-success btn-s m-1"
          (click)="uploader?.uploadAll()"
          [disabled]="!uploader?.getNotUploadedItems()?.length"
        >
          <span class="fa fa-upload"></span> Upload all
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s m-1"
          (click)="uploader?.cancelAll()"
          [disabled]="!uploader?.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button
          type="button"
          class="btn btn-danger btn-s m-1"
          (click)="uploader?.clearQueue()"
          [disabled]="!uploader?.queue?.length"
        >
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>
